html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: font-family: 'Montserrat';
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


textarea {
  resize: vertical;
}

/* Browser Upgrade Prompt */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* Clearfix: contain floats */

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

.subtitle{
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
}

.main-header{
  font-weight: lighter;
  text-align: center;
}

.knowmore-btn{
  box-shadow: 0 3px 15px 0 rgba(0,0,0,.25);
}

.custom-card img{
  max-height: 50px;
}


.cards-coll .card{
  margin: auto;
  width: 20rem;
  margin-top: 2em;
}

.cards-coll .card img{
  max-height: 144px;
  margin-top: 2em;

}

/* Pricing */

.pricing-card{
  width: 90%;
  box-shadow: 0px 0px 80px 0px rgba(0,0,0,.1);
}

.pricing-card h2{
  letter-spacing: 0.1rem;
  color:#808080
}

/* Faq */

.faq h2{
    font-size: 15px;
    font-weight: 500;
    color: #364655;
    line-height: 1.4;
    margin-top: 20px;
    margin-bottom: 20px;
}

.faq p{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.5px;
    color: #627382;
    margin-top: 30px;
    padding-bottom: 40px;
}

/* Footer */

.footer{
  padding: 50px 0 50px 0;
  background: #2d2d86;
}

.footer ul{
  list-style-type: none;
  margin: 10px 0 5px 0;
  padding-left: 0;
}

.footer .footer-sub li {
  display: inline-block;
  margin-right: 10px;
  padding-top: 0;
  font-family: 'Montserrat';
  font-size: 13px;
  font-weight: 300;
  color: #D8D8D8;
}

.footer .footer-sub li a {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  color: #364655;
  color: #D8D8D8;
}

.footer h2 {
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.footer p {
  font-size: 13px;
  font-weight: 400;
  color: #364655;
  color: #FFF;
  letter-spacing: 0;
  line-height: 1.4;
  max-width: 320px;
  margin-bottom: 10px;
}


@media only screen and (min-width: 768px){
  .main-header{
    text-align: left;
    margin: 4em 0 3em;
    padding: 0 2em;
  }

  .cards-coll .card{
    width: 30%;
    margin-top: 2em;
  }

  .more-desc img{
    margin: 2em;
    box-shadow: 10px 10px 15px 0 rgba(0,0,0,.05);
    box-sizing: border-box;
  }

  .more-desc .desc {
    padding-top: 2em;
  }

  .desc:last-child{
    padding-top: 4em;
  }

  .custom-card{
    width: 33%;
  }

  .less-width{
    max-width: 540px;
  }

  .pricing-card{
    width: 27%;
  }

  .pricing-card:nth-child(2){
    margin-top: 1em !important;
  }

  .client-section img{
    max-width: 100px;
  }

  
  .footer .social li{
    display: inline;
  }

  .footer .footer-nav li {
    
    display: inline-block;
    margin-left: 10px;
    padding-top: 6px;
}

  .footer .footer-nav li a {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    color: #364655;
    color: #D8D8D8;
    letter-spacing: 0;
    text-transform: capitalize;
  }

  .footer .f-mail {
    margin: 5px 5px 0 0;
    font-family: 'Montserrat';
    font-size: 13px;
    letter-spacing: 0;
    color: #364655;
    color: #D8D8D8;
    line-height: 1.6;
  }

}

@media only screen and (min-width: 1280px){
  .custom-card{
    width: 27%;
  }
}